.bounce{
    -webkit-animation:bounce 1s linear infinite;
    -moz-animation:bounce 1s linear infinite;
    -ms-animation:bounce 1s linear infinite;
    animation:bounce 1s linear infinite;
}
@-ms-keyframes bounce {
     0% { bottom:-60px; }
     50% {  bottom:-0px; }
     100% {  bottom:-60px; }
}
@-moz-keyframes bounce {
    0% {  bottom:-60px; }
    50% {  bottom:-0px; }
    100% {  bottom:-60px; }
}
@-webkit-keyframes bounce {
    0% {  bottom:-60px; }
    50% {  bottom:-0px; }
    100% {  bottom:-60px; }
}
@keyframes bounce {
    0% {  bottom:-60px; }
    50% {  bottom:-0px; }
    100% {  bottom:-60px; }
}
