@import "sass/variables";
@import "sass/mixin";
/* @import "sass/keyframes"; */

@import "sass/header";

body{
	font-family:arial;
}

@mixin rotate($angle) {
	/* -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5)"; */
	-webkit-transform: rotate($angle);
	-ms-transform: rotate($angle);
	transform: rotate($angle);
}
.bgfill{
		background-repeat:no-repeat;
		background-poosition:center center;
		background-size:100% 100%;
}
.square200{
	width:200px;
	height:200px;
	overflow:hidden;
}

.transition{
	-webkit-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

.phase{
	width:100%;
	max-width:1200px;
	margin:0 auto;
	h1,p{
		width:100%;
		text-align:center;
		overflow:hidden;
	}
}
.phase1{
	.wordbutton{
		@extend .transition;
		display:block;
		opacity:0;
		overflow:hidden;
		text-align:center;
		width:100%;
		&.ready{
			opacity:1;
		}
	}
	a#linktophase2{
		display:inline-block;
		width:auto;
		margin:0 auto;
		padding:0.1em 1.5em;
		border-radius:0.5em;
		border:1px solid #000;
		font-size:2em;
		color:#000;
		text-decoration:none;
		&:hover{
			background-color:#00ff00;
		}
	}
}

.container{
	position:relative;
	margin:0 auto;
	padding:0;
	width:100%;
	max-width:1200px;
	min-height:100vh;
}
.phase2a,.phase2b{
	@extend .transition;
	position:absolute;
	left:0px;
	top:0px;
	overflow:hidden;
	max-height:0;
	&.open{
		max-height:900px;
	}
}

.phase2a{
	z-index:5;
}
.phase2b{
	z-index:10;
	.googlemap{
		width:100%;
		height:33vh;
	}
	div.data{
		display:none;
		span{
			font-weight:bold;
		}
	}
	div.binnacle{
		@extend .square200;
		margin:10px auto;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
		position:relative;

		div.compass{
			position:absolute;
			left:0px;
			top:0px;
			z-index:10;
			@extend .square200;
			@extend .bgfill;
			/*
			@include rotate(45deg);
			@extend .transition;
			*/
			img{
				@extend .transition;
				width:180px;
				height:auto;
				position:relative;
				left:10px;
				top:10px;
			}
		}
		p{
			font-size:1.5em;
			margin:0;
			padding:5px 0;
			width:200px;
			text-align:center;
			background-color:rgba(255,255,255,0.5);	
			position:absolute;
			left:0px;
			z-index:10;
			&.bUnit{top:0px;}
			&.dUnit{bottom:0px;}
		}
	}
	div.controls{
		display:none;
		width:100%;
		text-align:center;
		button{
			margin:10px auto;
			border:2px solid black;
			background-color:#007f00;
			border-radius:1em;
			color:#fff;
			font-size:1.5em;
			padding:5px 20px;
			cursor:pointer;
			&:hover{
				background-color:#00af00;
				box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
			}
		}
	}
}
